include ./links

-var projectImg		= '/img/soc-img.jpg'
-var projectFavicon	= 'static/img/fav.png'
-var faviconSize		= 200
-var themeColor		= '#4b5a6e'
-var themeTitle		= 'vynil.jata.ru'
-var themeName			= 'vynil.jata.ru'

//- og
-var siteName			= 'vynil.jata.ru'
-var siteLink			= linkTo.root
-var siteTitle			= 'vynil.jata.ru'
-var siteImg			= '/img/soc-img.jpg'
-var siteImgType		= 'image/jpeg'
-var siteImgWidth		= '300px'
-var siteImgHeight	= '300px'

-var needHTML5shiv	= false
-console.log(process.env.NODE_ENV)
meta(charset='UTF-8')

meta(
	name='viewport'
	content='width=device-width')

link(
	rel='icon'
	type='image/png'
	sizes=faviconSize+'x'+faviconSize
	href=projectFavicon)

//- favicon
//- link(
	rel='shortcut icon'
	type='image/x-icon'
	href=projectFavicon)

//- don't customise phone numbers on the page
meta(
	name='format-detection'
	content='telephone=no')

//- own styles
link(
	rel='stylesheet'
	href=linkTo.static + 'css/style.css')

if production
	// Yandex.Metrika counter
	script.
		(function (d, w, c) {
			(w[c] = w[c] || []).push(function() {
				try {
					w.yaCounter42835074 = new Ya.Metrika({
						id:42835074,
						clickmap:true,
						trackLinks:true,
						accurateTrackBounce:true,
						webvisor:true
					});
				} catch(e) {}
			});

			var n = d.getElementsByTagName('script')[0],
			s = d.createElement('script'),
			f = function () { n.parentNode.insertBefore(s, n); };
			s.type = 'text/javascript';
			s.async = true;
			s.src = 'https://mc.yandex.ru/metrika/watch.js';

			if (w.opera == '[object Opera]') {
				d.addEventListener('DOMContentLoaded', f, false);
			} else {f();}
		})(document, window, 'yandex_metrika_callbacks');
	noscript
		div
			img(
				src='https://mc.yandex.ru/watch/42835074'
				style='position:absolute; left:-9999px;'
				alt='')
	// Yandex.Metrika counter
