include ../template/links

mixin price__column(mod, items, name, num)
	.price__column(class='price__column--' + mod)
		if mod !== 'white'
			p.price__col-title
				if mod === 'tall'
					| KPMF, ORACAL, HEXIS (ПВХ пленки)
				if mod === 'mid'
					| HEXIS, 3M (полиуретановые пленки)
				//- else
					| Стоимость

		if production
			ul.price__items.
				{% if tables.#{name}.#{num} %}
					{% for cell in tables.#{name}.#{num}.cells %}
						<li class="price__item">
							<span class="price__text">
								{{ cell.value }}
							</span>
						</li>
					{% endfor %}
				{% endif %}
		else
			ul.price__items
				for item in items
					li.price__item
						span.price__text=item

mixin price(color, title, subtitle, items, colNum, tableName)
	.price(class='price--' + color)
		.price__content
			.price__header
				h2.price__title
					span.price__big=title
					|  
					span=subtitle
			.price__body
				+price__column('white', items[0], tableName, 0)
				+price__column('tall', items[1], tableName, 1)
				if colNum > 2
					+price__column('mid', items[1], tableName, 2)
