include ../template/links

mixin phone
	a.phone(
		href='tel:'+ phone.call)
		svg.phone__icon(
			data-name='red-phone'
			xmlns='http://www.w3.org/2000/svg'
			viewBox='0 0 15.5 15.5')
			path.phone__path(
				d='M4.65,0H4.36a4.29,4.29,0,0,0-3,1.26h0A4.53,4.53,0,0,0,0,4.46H0A4.53,4.53,0,0,0,.62,6.74a22.62,22.62,0,0,0,8.14,8.14,4.53,4.53,0,0,0,5.48-.71h0a4.29,4.29,0,0,0,1.26-3V10.85L11.37,9.3,9.82,10.85A18.63,18.63,0,0,1,4.65,5.68L6.2,4.13Z')
		span.phone__text=phone.read