<!DOCTYPE html>
html(lang='ru')
	head
		include ./blocks/template/head
	body.vynil
		include ./components/header/header
		
		main.main
			include ./components/promo/promo
			include ./components/features/features
			include ./components/sections/sections
			include ./components/prices/prices
			include ./components/gallery/gallery
			section.map#map

		include ./components/footer/footer

		button.up-btn(
			type='button'
			title='наверх')
			svg.up-btn__svg(
				version='1.1'
				id='Слой_1'
				xmlns='http://www.w3.org/2000/svg'
				xmlns:xlink='http://www.w3.org/1999/xlink'
				x='0px'
				y='0px'
				viewBox='0 0 38.9 38.9'
				style='enable-background:new 0 0 38.9 38.9;'
				xml:space='preserve')
				g(transform='translate(0,-952.36218)')
					path(
						style='fill:#00A3AF;'
						d='M19.5,952.4C8.7,952.4,0,961.1,0,971.8c0,10.8,8.7,19.5,19.5,19.5s19.5-8.7,19.5-19.5C38.9,961.1,30.2,952.4,19.5,952.4z M19.4,964.4c0.3,0,0.6,0.1,0.8,0.3l10.2,11.1c0.3,0.4,0.3,1-0.1,1.3c-0.4,0.3-1,0.3-1.3-0.1l-9.5-10.4L10,977.1c-0.3,0.4-0.9,0.4-1.3,0c-0.4-0.3-0.4-0.9-0.1-1.3l10.2-11.1C18.9,964.5,19.2,964.4,19.4,964.4z')

		//- загружаем жЫквери с цдн
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
		//- если не загружается, то подтягиваем свой
		script.
			window.jQuery || document.write('<script src=\'#{linkTo.static}js/jquery.min.js\'><\/script>')
		
		//- maps
		script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU')

		//- свои скрипты
		script(src=linkTo.static + 'js/main.js')